@import '../sass/abstracts/variables.scss';
@import '../sass/abstracts/mixins.scss';
@import '../sass/abstracts/grid.scss';


@import "../sass/fonts/scss/fontawesome.scss";
@import "../sass/fonts/scss/brands.scss";
@import "../sass/fonts/scss/solid.scss";


@import '../sass/components/_btn.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(phone) { // width < 600?
        font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
        text-decoration: none;
        color: #212121;
        border: none;
        cursor: pointer;
    }