.row {
    max-width: 130rem;
    margin: 0 auto;
    margin-bottom: 7rem;

    // &:not(:last-child) {
    //     margin-bottom: 70rem;
    // }

    @include clearfix;

    [class^="col-"] {
        float: left;
    }

    .col-1-of-2 {
        width: calc(100% / 2);
    }

    .col-1-of-3 {
        &:not(:nth-child(3n)) {
            margin-right: 5rem;
        }
        margin-top: 5rem;
        width: calc((100% - 2 * 5rem) / 3);
        @include respond(tab-land) {
            &:not(:nth-child(3n)) {
                margin-right: 2rem;
            }
            width: calc((100% - 2 * 2rem) / 3);
        }
        @include respond(phone) {
            float: none;
            width: 100%;
        }
    }
    .col-1-of-6 {
        &:not(:last-child) {
            margin-right: 2rem;
        }
        margin-top: 3rem;
        width: calc((100% - 5 * 2rem) / 6);
        text-align: center;
        font-size: 1.8rem;
    }

    
}