.cart-item {
    margin-bottom: 3rem;
    &__img {
        img {
            width: 70%;
            height: 18rem;
        }
    }
    &__manage {
        &--counter {
            display: inline-block;
            font-size: 1.8rem;
        }
    }
    &--line-height {
        line-height: 4.1rem;
    }
}